
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>

      <ul class="govuk-list govuk-list--number">
        <li><a href="/topic-page-with-summary" class="govuk-link">Topic page with summary</a></li>
        <li><a href="/topic-page-with-summary-and-stats" class="govuk-link">Topic page with summary and stats</a></li>
      </ul>

    </div>
  </div>

{% endblock %}