
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>

      <ul class="govuk-list govuk-list--number">
        <li>Topic page with summary
          <ol>
            <li><a href="/topic-page-with-summary" class="govuk-link">Simple text summary</a></li>
            <li><a href="/topic-page-with-summary-and-stats" class="govuk-link">Text summary and stats</a></li>
          </ol>
        </li>
        <li>Measure page with table of contents
          <ol>
            <li><a href="/measure-with-toc" class="govuk-link">In the left column</a></li>
            <li><a href="/measure-with-toc-above" class="govuk-link">Above</a></li>
          </ol>
        </li>
        <li>Measure linked to data sources:
          <ol>
            <li><a href="/measure-linked-to-data-sources" class="govuk-link">Version 1</a></li>
          </ol>
        </li>

        <li>Error correction banners:
          <ol>
            <li><a href="/factual-error-on-this-page" class="govuk-link">Factual error banner</a></li>
            <li><a href="/factual-correction" class="govuk-link">Factual correction banner</a></li>
          </ol>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}