
{% extends "layout.html" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "accordion/macro.njk" import govukAccordion %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Ethnicity facts and figures",
        href: "/"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Crime, justice and the law
      </h1>
      <h2 class="govuk-heading-m">Overview</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
      
<p>Use of <a href="https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/policing/stop-and-search/latest">stop and search</a> among Black people has fallen since 2008/09 but remains higher than for other groups. Black people are also more likely to be <a href="https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/policing/number-of-arrests/latest">more likely to be arrested</a>, to be <a href="https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/courts-sentencing-and-tribunals/remand-status-at-crown-court/latest">remanded in custody at Crown Court</a> (rather than allowed out on bail) and to have lower levels of <a href="https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/policing/confidence-in-the-local-police/latest">confidence in their local police</a> than other ethnic groups.</p> 

<p>The percentage of <a href="https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/courts-sentencing-and-tribunals/prosecutions-and-convictions/latest">prosecutions resulting in conviction</a> was highest among White defendants and lowest for Asians. Black and Asian offenders received the longest <a href="https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/courts-sentencing-and-tribunals/average-length-of-custodial-sentences/latest">average custodial sentences</a> at around 2 years compared to 18 months for White offenders.</p> 
    
<p>These statistics do not take into account other factors such as type of offences, which may differ by ethnic group.</p> 
      
    </div>
    <div class="govuk-grid-column-one-third">
      <div style="text-align: center;" class="govuk-!-margin-bottom-9">
        <div class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Black people are</div>
        <div class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-1">5 times</div>
        <div class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">more likely to be stopped and searched than the average</div>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div style="text-align: center;">
        <div class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-2">The average prison sentence <br>for Asian people is</div>
        <div class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-1">27 months</div>
        <div class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold">compared to an average of 22 months <br>for all ethnic groups</div>
        </div>
    </div>


  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Explore further</h2>
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Policing"
      },
      content: {
        html: "<ul class=\"govuk-list\">
<li><a href=\"#\">Confidence in the local police</a></li>
<li><a href=\"#\">Youth cautions</a></li>
<li><a href=\"#\">Arrests</a></li>
<li><a href=\"#\">Stop and search</a></li>
</ul>"
      }
    },
    {
      heading: {
        text: "Crime and reoffending"
      },
      content: {
        html: "<ul class=\"govuk-list\">
<li><a href=\"#\">Victims of crime</a></li>
<li><a href=\"#\">Fear of crime</a></li>
<li><a href=\"#\">Proven reoffending</a></li>
</ul>"
      }
    },
      {
      heading: {
        text: "Courts, sentencing and tribunals"
      },
      content: {
        html: "<ul class=\"govuk-list\">
<li><a href=\"#\">Employment tribunal claims</a></li>
<li><a href=\"#\">Prosecutions and convictions</a></li>
<li><a href=\"#\">Remand status at Crown Court</a></li>
<li><a href=\"#\">Sentences and custody</a></li>
<li><a href=\"#\">Average length of custodial sentences</a></li>
<li><a href=\"#\">Young people in custody</a></li>
</ul>"
      }
    },
      {
      heading: {
        text: "Prison and custody incidents"
      },
      content: {
        html: "<ul class=\"govuk-list\">
<li><a href=\"#\">Violence involving prisoners</a></li>
<li><a href=\"#\">Self-inflicted deaths in prison custody</a></li>
<li><a href=\"#\">Self-harm in prison custody</a></li>
<li><a href=\"#\">Self-harm by young people in custody</a></li>
<li><a href=\"#\">Use of force on young people in custody</a></li>
<li><a href=\"#\">Single separation incidents for young people in custody</a></li>
<li><a href=\"#\">Restrictive physical interventions involving young people in custody</a></li>
<li><a href=\"#\">Assaults carried out by young people in custody</a></li>
</ul>"
      }
    }
  ]
}) }}


    </div>
  </div>

{% endblock %}
